server:
  port: 8183

logging:
  level:
    com.kasna: DEBUG

spring:
  datasource:
    url: ${DATABASE_URL} # La configuration se trouve dans Edit Configuration > environnement (en local)
    username: ${DATABASE_USERNAME}
    password: ${DATABASE_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true

  liquibase:
    enabled: true
    change-log: classpath:/common/common-dataccess/src/main/resources/db/changelog/master.yaml